* {
    font-family: cursive;
    background-color: white;
}

a:link {
    color: blue;
}

a:visited {
    color: purple;
}

a:hover {
    color: green;
}

a:active {
    color: white;
    background-color: black;
}